<!--{% extends 'index.html' %}
{% block movies_list %}
<!DOCTYPE html>-->

<body>

  <form method="POST" action="/">
      <input type="text" name="movie" id="autocomplete" class="form-control input-lg" <input type="text" autocomplete="off" list="movies"/>
        <datalist id="movies">
          <option value="Avatar">
          <option value="CSS">
          <option value="JavaScript">
          <option value="Java">
          <option value="Ruby">
          <option value="PHP">
          <option value="Go">
          <option value="Erlang">
          <option value="Python">
          <option value="C">
          <option value="C#">
          <option value="C++">
        </datalist>


  </form>

</body>

</html>
<!--{{% endblock %}-->
